.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.taskList{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
