.form-section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.form-section h2{
    flex-basis: 100%;
    text-align: center;
    background-color: red;
}

input{
    margin: 10px;
}

.form-section form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.form-section form label{
    align-items: center;
    flex-basis: 100%;
}

.form-section form  button{
    border: 1px solid black;
    font-weight: bold;
    padding: 10px 40px;
    transition: 1s;
}
.form-section form  button:hover{
    border-radius: 15px;
    background-color: cornflowerblue;
    color: white;
}
